.screen-container{
    width: calc(100% - 100px);
    height: 100%;
    /* display: flex;
    flex-direction: column; */
    background-color: #9867c5;
    overflow: hidden;
    border-radius: 30px;
}