a{
    text-decoration: none !important;
}
.btn-body{
    height: 60px;
    width: 60px;
    border-radius: 20px;
    color: rgb(81, 81, 178);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.25s ease;
}

.btn-body.active{
    background-color: rgb(203, 203, 220,1);
    color:brown;
    transform: scale(1.15);
}

.btn-body:hover{
    color: rgb(24, 24, 100);
}

.btn-title{
    margin: 6px auto;
    font-weight: bold;
    font-size: 14px;

}
